<div>
  <h1>VideoTech</h1>
  <span>powered by Angular 8</span>
</div>

<button mat-button color="primary" [matMenuTriggerFor]="menuFilms">Movies</button>
<mat-menu #menuFilms="matMenu">
  <button mat-menu-item routerLink="/">Home</button>
  <button mat-menu-item routerLink="movies/my-movies">My movies</button>
  <button mat-menu-item routerLink="movies/discover">Discover movies</button>
</mat-menu>
