<h1>{{title}}</h1>

<div>
  <input matInput type="text" placeholder="Movie name" [(ngModel)]="movieName">
</div>

<ul>
  <li *ngFor="let movie of movies$ | async">{{ movie.title }}</li>
</ul>

<div *ngIf="delayedMovie$ | async as delayedMovie; else loading">
  Delayed movie : {{delayedMovie.title}}
</div>
<ng-template #loading>Loading movie...</ng-template>

<app-movie-card [movie]="movieName" (launchAction)="outSourcedFunction()"></app-movie-card>
