<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="getMiniatureStyle(movie)"></div>
    <mat-card-title>{{ movie.title }}</mat-card-title>
    <mat-card-subtitle> *</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{imgPrefix + movie.poster_path}}" alt="Avengers Endgame">
  <mat-card-content>
    <p>
      {{ movie.overview }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="watchTrailer(movie.id)">TRAILER</button>
  </mat-card-actions>
</mat-card>
