<div fxLayout="row" fxLayoutAlign="center">
  <youtube-player
    [videoId]="trailerId"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [height]="450"
    [width]="900"
    [playerVars]="playerVars">
  </youtube-player>
</div>

<BR/>

<div fxLayout="row" fxLayoutAlign="center">
  <table mat-table [dataSource]="movies$" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Identifiant </th>
      <td mat-cell *matCellDef="let movie"> {{movie.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let movie"> {{movie.title}} </td>
    </ng-container>

    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef> Date de sortie </th>
      <td mat-cell *matCellDef="let movie"> {{movie.release_date}} </td>
    </ng-container>

    <ng-container matColumnDef="posterPath">
      <th mat-header-cell *matHeaderCellDef> Poster </th>
      <td mat-cell *matCellDef="let movie"> <button mat-button (click)="showPoster(movie)">Image</button> </td>
    </ng-container>

    <ng-container matColumnDef="trailer">
      <th mat-header-cell *matHeaderCellDef> Trailer </th>
      <td mat-cell *matCellDef="let movie">
        <button mat-button (click)="watchTrailer(movie.id)">Watch</button>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="footer">
    <mat-paginator [length]="totalMovies$ | async"
                   [pageIndex]="pageIndex"
                   [pageSize]="20"
                   [pageSizeOptions]="[20]"
                   (page)="pageChangeEvent($event)" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>

<mat-grid-list cols="3" rowHeight="1:1.1">
  <mat-grid-tile *ngFor="let movie of movies$ | async">
    <app-library-card [movie]="movie" (launchTrailer)="watchTrailer(movie.id)"></app-library-card>
  </mat-grid-tile>
</mat-grid-list>


